@import "tailwindcss";

@theme {
  --font-vazir-md: "vazir_md", sans-serif;
  --font-vazir-default: "vazir", sans-serif;
  --font-vazir-thin: "vazir_thin", sans-serif;
}

body,
html {
  font-family: "vazir";
}
/*  custom fonts */
@font-face {
  font-family: "vazir_md";
  src: url("/font/Vazir-Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "vazir";
  src: url("/font/Vazir.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "vazir_thin";
  src: url("/font/Vazir-Thin.woff2") format("woff2");
  font-display: swap;
}
